# Staging environment configuration
replicaCount: 2
image:
  repository: docker.io/adil902/flask-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 5000
  targetPort: 5000
  nodePort: 30081

probes:
  path: /
  port: 5000

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: staging
  APP_VERSION: "1.0.0"
