# Production environment configuration
replicaCount: 3
image:
  repository: docker.io/adil902/flask-app
  tag: "latest"
  pullPolicy: Always

service:
  type: NodePort
  port: 5000
  targetPort: 5000
  nodePort: 30082

probes:
  path: /
  port: 5000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

env:
  NODE_ENV: production
  APP_VERSION: "1.0.0"
