# Dev environment configuration 
replicaCount: 1
image:
  repository: docker.io/adil902/flask-app
  tag: "latest"
  pullPolicy: Always

service:
  type: NodePort
  port: 5000
  targetPort: 5000
  nodePort: 30080

probes:
  path: /
  port: 5000
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  NODE_ENV: development
  APP_VERSION: "1.0.1"
